
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'),
       url('../fonts/oswald-v16-cyrillic_latin-regular.woff2') format('woff2'), 
       url('../fonts/oswald-v16-cyrillic_latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  src: local('Oswald Bold'), local('Oswald-Bold'),
       url('../fonts/oswald-v16-cyrillic_latin-700.woff2') format('woff2'), 
       url('../fonts/oswald-v16-cyrillic_latin-700.woff') format('woff'); 
}
