
@maincolor: #fd5433;
@whitecolor: #fff;
@graycolor: #3d3c3c;

body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

h1{
	font-size: 28px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 22px;
}

p{
	margin: 0;
	font-size: 16px;
	line-height: 1.3;
	font-family: Arial;
}

@import "blocks/main-container.less";
@import "blocks/title.less";
@import "blocks/list.less";
@import "blocks/link.less";
@import "blocks/button.less";
@import "blocks/header.less";
@import "blocks/menu.less";
@import "blocks/section.less";
@import "blocks/home.less";
@import "blocks/services.less";
@import "blocks/service.less";
@import "blocks/portfolio.less";
@import "blocks/about-us.less";
@import "blocks/latest-posts.less";
@import "blocks/post.less";
@import "blocks/contact-us.less";
@import "blocks/form.less";
