.services__branding-icon{
	background-image: url(../img/pen.svg);
}

.services__web-design-icon{
	background-image: url(../img/desktop.svg);
}

.services__marketing-icon{
	background-image: url(../img/mic.svg);
}

.service__title{	
	color: @graycolor;
}

.service__content{
	margin-top: 2.4rem;
	color: #3d3c3c;
	font-size: 1.6rem;
	padding:0 9% 0;
}
