.about-us__title{
	color: @maincolor;
    text-align: center;
}

.about-us__photos{
	margin-top: 65px;
	display: flex;
	flex-wrap: wrap;
}

.about-us__photo{
	cursor: pointer;
	flex-basis: 23.1%;
	display: flex;
	justify-content: center;
	margin-right: 2.5%;
	align-items: center;
}

.about-us__photo:last-of-type{
	margin-right: 0;
}

.about-us__photo:nth-child(4n+4){
	margin-right: 0;
}

.about-us__photo:nth-child(n+5){
	margin-top: 30px;
}

.about-us__photo_active:after{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -112px;
    transform: translateX(-50%);
    border: 22px solid transparent;
    border-top: 33px solid @whitecolor;
}

.about-us__img{
   	max-width: 100%;
   	display: block;
}

.about-us__info-container{
	background-color: @maincolor;
	margin-top: 60px;
    padding-top: 62px;
    padding-bottom: 44px;
}

.about-us__radio{
	display:none;
}
.about-us__inner{
	display:none
}
.about-us__radio:checked + .about-us__inner{
  display: flex;
  animation-name: shift-about;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

@keyframes shift-about{
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } 
  }

.about-us__descriprion{
	width: 48.9%;
	margin-right: 2.2%;
	box-sizing: border-box;
	padding-right: 7%;
}

.about-us__addition{
	width: 48.9%;
}

.about-us__name{
	color: @whitecolor;
}

.about-us__text{
    color: @whitecolor;
    margin-top: 45px;
}

@media screen and (max-width: 699px){
	.about-us__radio:checked + .about-us__inner{
		display: block;
	}

	.about-us__addition{
		width: 100%;
		margin-top: 30px;
		margin-right: 0;
}

	.about-us__descriprion{
		width: 100%;
		margin-right: 0;
		padding-right: 0;
	}
}