.contact-us{
	min-width: 798px;
	padding-top: 26px;
}

.contact-us__container{
	background-image: url("../img/city.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-us__title{
	color: @maincolor;
    text-align: center;
}

.contact-us__form{
	padding-top: 30px;
	padding-bottom: 85px;
}
