.header{
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 1;
}

.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	color: #474444;
	font-size: 7rem;
	font-weight: normal;
}

.header_symbol{
	color: #fd5433;
}

.header__menu{	
	max-width: 900px;
}
