.latest-posts{
	min-width: 798px;
	padding-top: 26px;
}

.latest-posts__title{
	margin-bottom: 26px;
	color: @maincolor;
    text-align: center;
}

.latest-posts__content{
	border-top: 1px solid #828282;
	padding-top: 90px;
	border-bottom: 1px solid #828282;
	padding-bottom: 92px;
}
.latest-posts__posts{
	display: flex;
	flex-wrap: wrap;
}
.latest-posts__post{
	width: 48.5%;
	margin-top: 75px;
	margin-right: 3%;
}

.latest-posts__post:nth-child(2n+2){
	margin-right: 0;
}

.latest-posts__post:nth-child(-n+2){
	margin-top: 0;
}