.menu{
	font-family: oswald;
}

.menu__list{
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.menu__list-item{
	display: inline-block;
	font-size: 1.7rem;
	font-weight: bold;
	color: @graycolor;	
}

.menu__list-item:hover{
	background-color: @maincolor;
}

.menu__link{
	display: inline-block;
	padding: 4.2rem 1.7rem;
}

.menu__link:hover{
	color : @whitecolor;
}

.menu__hamburger{
	display: none;
}

.menu__label{
    display: block;
    height: 1.5rem;
    width: 3rem;
    position: relative;
    background-color: transparent;
    border-bottom: 0.5rem solid;
    border-top: 0.5rem solid;
    border-color: @maincolor;
    cursor: pointer;
    border-radius: 2px;
}

.menu__label:after{
	content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    border-top: 0.5rem solid;
    border-color: @maincolor;
}


@media screen and (min-width: 700px){
    .menu__label{
        display: none;
    }

}

@media screen and (max-width: 699px) {
    .menu__list{
        display: none
    }
  
}

