.portfolio{
	min-width: 798px;
}

.portfolio__title{
	padding-top: 26px;
	padding-bottom: 26px;
	color: @maincolor;
    text-align: center;
}

.portfolio__pictures{
	display: flex;
   	flex-wrap: wrap;
}

.portfolio__link{
	width: 16.5%;
	transition: all 0.5s ease-in-out;
}

.portfolio__link:hover{
	transform: scale(1.1) rotate(-5deg);
	box-shadow: 0 10px 10px rgba(0,0,0,1);
}

.portfolio__image{
	max-width: 100%;
	width: 100%;
	display: block;
}
