.post__column{
	display: inline-block;
	width: 47.5%;
	margin-left: 4%;
	vertical-align: top;
}

.post__title{
	color: @graycolor;
}

.post__column:first-of-type{
	margin-left: 0;
}

.post__picture{
	padding-top: 9px;
}

.post__img{
	max-width: 100%;
	display: block;
}

.post__time{
	font-family: oswald;
	position:relative;
	font-size: 15px;
	font-weight: bold;
	color: #686868;
}
.post__time:after{
    content: "";
    position: absolute;
    border-bottom: 5px solid @maincolor;
    left: 0;
    bottom: -15px;
    width: 60%;
}

.post__content{
	margin-top: 52px;
	color: #3d3c3c;
	padding-right: 4.3%;
}

