.services{
	padding-bottom: 80px;
	border-bottom: 1px solid #828282;
}

.services__title{
	color: @maincolor;
    text-align: center;
}

.services__content{
	margin-top: 64px;
	display:  flex;
	flex-wrap: wrap;	
}

.services__column{
	padding-top: 200px;
	text-align: center;
	background-repeat: no-repeat;
	background-position-x: center;
	margin-right: 2.4%;
	width: 31.7%;
}
.services__column:nth-child(3n+3){
   margin-right: 0;
}

.services__column:nth-child(n+4){
   margin-top: 64px;
}

@media screen and (max-width: 699px){
	.services__column{
	display: block;
	margin-top: 30px;
	width: 100%;
	margin-right: 0;
	}
	.services__column:first-of-type{
		margin-top: 0;
	}
}
