.skill__progress{
	background-color: @whitecolor;
	width: 49%;
	display: inline-block;
	margin-left: 9%;
	height: 1rem;
	vertical-align: baseline;
}

@media screen and (max-width: 699px){
	.skill__progress{
	margin-left: 7%;
}
}

.skill__progress[value]::-webkit-progress-bar{
	background-color: @maincolor;
}

.skill__progress[value]::-webkit-progress-value{
	background-color: @whitecolor;
}

.skill__name{
	display: inline-block;
	width: 30%;
	letter-spacing: 0.3px;
}

.skill__value{
	display: inline-block;
	margin-left: 1.5%;
	color: @whitecolor;
}